---
import GalleryProjects from '../Gallery-projects/Gallery-projects.vue';
---

<section class="flex h-screen flex-col items-center gap-10">
    <h2 class="text-[40px] md:text-[60px]">Destacats</h2>
    <GalleryProjects client:load />
</section>
