---
import ContactInfo from '../components/Contact-info/Contact-info.astro';
import ContactImage from '../components/Contact-image/Contact-image.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="ATRA - Contacte">
    <section class="relative grid h-screen w-[100vw] place-items-center">
        <h1 class="absolute top-16 text-[50px] md:right-[25vw] md:hidden">Contacte</h1>
        <ContactImage />
        <ContactInfo />
    </section>
</Layout>
