<footer class="flex h-[15vh] w-full items-center justify-center bg-[var(--dark)]">
    <ul
        class="flex w-[90vw] flex-col items-center justify-between gap-2 text-[var(--light-opacity)] md:w-[50vw] md:flex-row"
    >
        <li>Arquitecte: Jaume Perez Llopis</li>
        <li>
            Pagina dissenyada per <a
                href="www.linkedin.com/in/oscarperez8"
                target="_blank"
                class="hover:text-[var(--light)]"
                >Oscar Perez Romero</a
            >
        </li>
    </ul>
</footer>
