---
import { Project } from '../../types/project.type';
import { getAllProjects } from '../../services/get-all-projects';

const projects: Project[] = await getAllProjects();
---

<section class="mt-5 grid grid-cols-1 gap-4 md:grid-cols-3 md:gap-2">
    {
        projects.map(({ id, name, mainImage }) => (
            <a
                href={`project/${id}`}
                class="group relative h-[40vh] overflow-hidden rounded-sm md:h-[55vh]"
            >
                <figure class="aspect-w-4 aspect-h-3 h-full overflow-hidden">
                    <img
                        src={mainImage}
                        alt="project image"
                        class="h-full w-full transform object-cover transition-transform duration-300 group-hover:scale-105"
                        onerror="this.onerror=null; this.src='./src/assets/images/default-picture.png';"
                    />
                </figure>
                <p class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 text-center text-4xl text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                    {name}
                </p>
            </a>
        ))
    }
</section>
